<div id="order-details">
  <h1>Order Details</h1>

  <p><b>Order number: </b><%= @order.id %></p>
  <p><b>Date ordered: </b><%= @order.created_at.strftime("%B %d, %Y") %></p>
  <p><b>Status: </b><%= @order.status.capitalize %></p>

</div>
